

main section#slider{
    height: 100vh;
}

main section#slider div{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
}


main section#slider div img{
    position: relative;
    width: 100%;
    height: 100%;
}

main section#slider div.slide1{
    animation: slide1 20s linear infinite;
}
main section#slider div.slide2{
    animation: slide2 20s linear infinite;
    color: white;
}
main section#slider div.slide2 img{
    z-index: -1;
}
main section#slider div.slide2 h2{
    font-size: 52px;
}
main section#slider div.slide2 p{
    letter-spacing: 20px;
}

main section#slider div.slide3{
    animation: slide3 20s linear infinite;
}

/*  */
@keyframes slide1 {
    0%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes slide2 {
    0%{
        opacity: 0;
    }
    13%{
        opacity: 0.5;
    }
    33%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes slide3 {
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


main section div#infos{
    opacity: 1;
    z-index: 5;
}

main section#service{
    gap: 80px;
}

main section#service img{
    width: 250px;
}

main section#about{
    height: 120vh;
}
main section#about div{
    width: 60%;
    display: flex;
    background-color: #F9F2E5;
    padding-left: 200px;
    gap: 40px;
}
main section#about div h5{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 10px;
}
main section#about div h2{
    font-size: 50px;
    font-weight: 900;
}
main section#about div p{
    font-size: 16px;
    width: 500px;
}

main section#about img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 80%;
    width: 50%;
    z-index: 1;
}

main section#nouveaute{
    height: 50vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

main section#nouveaute div#scrool{
    display: flex;
    background-color: aqua;
    position: relative;
    width: 90%;
}

main section#nouveaute div#scrool div{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 0;
    left: 0;
    /* transition: transform .3s ease; */
}

main section#nouveaute div#scrool div img{
    height: 200px;
    width: 200px;
}

main section#nouveaute div#scrool div h5{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

main section#nouveaute button{
    padding: 2px;
    border: none;
    background-color: #F9F2E5;
    border-radius: 50%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

main section#nouveaute button:last-child{
    left: 95%;
}

main section#nouveaute button svg{
    width: 40px;
    bottom: 0;
    background-color: transparent;
}

main section#nouveaute button svg{
    width: 40px;
    bottom: 0;
    background-color: transparent;
}

main section#face{
    height: 70vh;
    padding: 70px 40px;
}

main section#face img{
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: 0;
    /* left: 0; */
    /* margin: 0 auto; */
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

main section#face div{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width: 380px;
    background-color: #F9F2E5;
}

main section#face div h5{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

main section#face div h4{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
}

main section#face div p{
    font-size: 14px;
}