
header{
    background-color: white;
    width: 5%;
    height: 100vh;
    position: fixed;
}

header nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    align-items: center;
}

header nav div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header nav div a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 800;
    rotate: -90deg;
    transition: all .5s ease;
}

header nav div a:hover{
    color: #f1d4b9;
}

header nav div a svg{
    cursor: pointer;
    rotate: 90deg;

}


header div#menu{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 400px;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;

    transform: translateX(-400px);
    transition: all .2s linear;
}

header div#menu.active{
    transform: translateX(0px);
}

header div#menu svg{
    cursor: pointer;
}

header div#menu ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header div#menu ul li{
    list-style: none;
}

header div#menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 30px;
}


/* main */

main {
    position: absolute;
    z-index: -1;
    left: 5%;
    width: 95%;
    /* display: none; */
}

/* carte */
main section#carte{
    height: 400px;
    padding-bottom: 50px;
}

/* footer */
footer{
    background-color: white;
    padding: 30px 0 20px;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #06020a21;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    font-size: 12px;
    color: #06020ac2;
    text-decoration: none;
}

footer h5{
    font-size: 11px;
}

footer h5 a{
    font-size: 11px;
    color: #06020ac2;
    /* text-decoration: none; */
}

footer h5 a:hover{
    text-decoration: none;
}